[Unit]
Description=pi-logger data gatherer

[Service]
User=root
Type=simple
ExecStart=/home/masneyb/data/pi-logger/bin/gather-data.sh 0 dht22 fahrenheit -70 70
